*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/target/

# keep out the large patent files
ipg*.xml
*.zip
/data/partialindices/tmp*.txt
/data/partialindices/index*.txt
/data/partialindices/post*.txt
cache*.txt

# project metadata
.idea/
.settings/
